*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:600px;
}
#screen{
    border:2px solid black;
    height:80px;
    margin:5px;
    border-radius:10px;
    background-color: lightyellow;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:30px;
}
#container{
    border:2px solid black;
    height:350px;
    display:flex;
    flex-direction: column;
    border-radius:10px;
    background-color:grey;
}
#buttons{
    margin:10px;
}
.button{
    height:50px;
    width:100px;
    border-radius:5px;
}